{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/review.css' %}">

<h2>Reviews</h2>
<a href="{% url 'reviews:add_review' %}">Add a Review</a>
<ul>
    {% for review in reviews %}
        <li>
            <strong>{{ review.user.username }}</strong> - 
            <span>{{ review.rating }} ⭐</span>
            <p>{{ review.review_text }}</p>
            {% if review.photo %}
                <img src="{{ review.photo.url }}" width="100">
            {% endif %}
            <small>Posted on: {{ review.created_at }}</small>
        </li>
    {% endfor %}
</ul>
{% endblock %}
