{% load static %}

<title>User List</title>
<link rel="stylesheet" href="{% static 'css/user_list.css' %}">

    
    
<body>
    <h2>User List</h2>

    <!-- Search Bar -->
    <div class="search-container">
        <form method="GET" action="">
            <input type="text" name="search" class="search-input" placeholder="Search by name or email" value="{{ query }}">
            <button type="submit">Search</button>
        </form>
    </div>

    <table> 
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}</td>
                <td>
                   
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'user_login:create_user' %}">Create New User</a>
</body>
</html>
